* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/img/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: cursive;

}


.cruds {
    width: 80%;
    margin: auto;
}

span {
    color: rgb(12, 134, 235);
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    color: white;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
}

input:focus {
    background: #000;
    transform: scale(1.1);
}

.price input {
    width: 20%;
}

#total {
    background: rgb(219, 57, 65);
    padding: 5px 3px;
    border-radius: 10px;
}

#total::before {
    content: 'Total: ';
}

button {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: rgb(49, 20, 76);
    color: #fff;
    transition: .5s;
}

button:hover {
    background: blueviolet;
    letter-spacing: 1.5px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;
}

#deleteAll {
    margin: 20px 0;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}







/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */


#but1 {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

}



/*
#but2{ 
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    position: fixed;
    bottom: 200px;
    right: 20px;
    /* display: none; */
/* } */